//Color

$accent-green-color: rgb(148, 204, 1);
$gray-color: rgb(126, 126, 126);
$bg-light-color: rgb(250, 250, 250);
$bg-dark-color: rgb(245, 245, 245);
$black-color: rgb(0, 0, 0);
$orange-color: rgb(251, 175, 93);
$red-color: rgb(255, 83, 83);

//Font-Family

$Averta-Regular: 'Averta-Regular', sans-serif;
$Averta-Semibold: 'Averta-Semibold', sans-serif;